* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black !important;
}

.column {
  border: 1px solid red;
}

.vh-100 {
  height: 100vh;
}

.is-vertical-center {
  display: flex;
  align-items: center;
}

.center {
  margin: 0 auto;
}

.text-signUpForm {
  margin: 1em 1em 0 1em;
}

.input-signUpForm {
  margin: 10px 5px auto 5px;
}
