html {
  background-color: #5f45bb;
  background: linear-gradient(to bottom right, #180cac, #d054e4) fixed;
  box-sizing: border-box;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 300px;
  overflow: hidden !important;
  padding: 0;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black !important;
  margin: 0;
}

.vh-100 {
  height: 100vh !important;
}

.px {
  padding: 15px !important;
}

.is-vertical-center {
  display: flex;
  align-items: center;
}

.center {
  margin: 0 auto;
}

.text-signUpForm {
  margin: 1em 1em 0 1em;
}

.input-signUpForm {
  margin: 10px 5px auto 5px;
}

textarea:focus,
input:focus,
button:focus {
  outline: none;
}

button {
  transition: 0.2s;
}

button:hover {
  background-color: #3e8e41;
  /* height: 4em; */
  cursor: crosshair;
}

.room:hover {
  background-color: #e17100 !important;
}

.active-room {
  background-color: #e17100 !important;
}

pre {
  overflow-y: scroll;
}

.rainbow_text_animated {
  font-size: bold;
  background: linear-gradient(
    to right,
    #6666ff,
    #0099ff,
    #00ff00,
    #ff3399,
    #6666ff
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 0.5s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

.row-wrap {
  text-align: center;
  float: left;
  margin: 0 10px;
  display: flex;
  align-items: column;
}

.row-middle {
  font-size: 30px;
  display: block;
}

a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}

.list {
  background-color: rgba(0, 0, 0, 0) !important;
  overflow-y: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
  text-overflow: clip;
  word-break: keep-all;
  border-right-style: none;
  padding: 7px;
  max-width: 750px;
}

#style-4::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar
{
    width: 13px;
    background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb
{
    background-color: #000000;
    border: 2px solid #555555;
}

.roomList {
  background-color: rgba(0, 0, 0, 0) !important;
  overflow-y: scroll;
  max-height: 100px;
  word-wrap: break-word;
  text-overflow: clip;
  word-break: keep-all;
  border: 1px solid black;
  border-right-style: none;
}

@media (min-width: 1281px) {
  html {
    overflow-y: hidden !important;
  }

  .roomList {
    background-color: rgba(0, 0, 0, 0) !important;
    overflow-y: scroll;
    max-height: 200px;
    word-wrap: break-word;
    text-overflow: clip;
    word-break: keep-all;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  html {
    overflow-y: hidden !important;
  }

  .roomList {
    background-color: rgba(0, 0, 0, 0) !important;
    overflow-y: scroll;
    max-height: 200px;
    word-wrap: break-word;
    text-overflow: clip;
    word-break: keep-all;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  html {
    overflow-y: scroll !important;
  }

  .roomList {
    background-color: rgba(0, 0, 0, 0) !important;
    overflow-y: scroll;
    max-height: 200px;
    word-wrap: break-word;
    text-overflow: clip;
    word-break: keep-all;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  html {
    overflow-y: scroll !important;
  }

  .roomList {
    background-color: rgba(0, 0, 0, 0) !important;
    overflow-y: scroll;
    max-height: 200px;
    word-wrap: break-word;
    text-overflow: clip;
    word-break: keep-all;
    font-size: 17px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  html {
    overflow-y: scroll !important;
  }

  .roomList {
    background-color: rgba(0, 0, 0, 0) !important;
    overflow-y: scroll;
    max-height: 200px;
    word-wrap: break-word;
    text-overflow: clip;
    word-break: keep-all;
    font-size: 30px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  html {
    overflow-y: scroll !important;
  }

  .roomList {
    background-color: rgba(0, 0, 0, 0) !important;
    overflow-y: scroll;
    max-height: 200px;
    word-wrap: break-word;
    text-overflow: clip;
    word-break: keep-all;
    font-size: 30px;
  }
}

@media (min-width: 0) and (max-width: 320px) {
  html {
    overflow-y: scroll !important;
  }

  .roomList {
    background-color: rgba(0, 0, 0, 0) !important;
    overflow-y: scroll;
    max-height: 200px;
    word-wrap: break-word;
    text-overflow: clip;
    word-break: keep-all;
    font-size: 30px;
  }
}
