
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

form {
  display: flex;
  height: 300px;
  flex-direction: column;
}

.form {
  height: 20vh; /* Or whatever */
  margin: 12px auto;  /* Magic! */
  display: block;
  color: red;
  background-color: white;
  padding: 12px 50px;
  border: 3px solid firebrick;
  border-radius: 60px 45px 30px 15px/15px 30px 45px 60px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 24px;
}

h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #131313;
    letter-spacing: .15em;
    text-shadow: 
    1px -1px 0 #767676, 
    -1px 2px 1px #737272, 
    -2px 4px 1px #767474, 
    -3px 6px 1px #787777, 
    -4px 8px 1px #7b7a7a, 
    -5px 10px 1px #7f7d7d;
}

textarea:focus, input:focus, button:focus{
  outline: none;
}

button {
  transition: 0.3s;
}

button:hover {
  background-color: #3e8e41;
  color: white;
}

@media (min-width: 768px) and (max-width: 1024px) {
  
  .container {
    display: block;
    text-align: center;
  }
  
  .row {
    display: block;
    /* justify-content: space-evenly; */
    width: 100%;
  }

  .thing {
    margin: 100px auto;
  }
  
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .container {
    display: block;
    text-align: center;
  }
  
  .row {
    display: block;
    /* justify-content: space-evenly; */
    width: 100%;
  }

  .thing {
    margin: 100px auto;
  }
  
}

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    display: block;
    text-align: center;
  }
  
  .row {
    display: block;
    /* justify-content: space-evenly; */
    width: 100%;
  }

  .thing {
    margin: 100px auto;
  }
  
}

.newsletter-container {
  display: block;
  position: relative;
  margin: 5px auto;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.newsletter-container input {
  cursor: pointer;
  display: block;
  margin: 10px auto;
}